.Modal {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.Modal button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Modal .box {
  width: 50%;
  align-self: center;
  text-align: center;
  background-color: white;
}

.Modal .header {
  text-align: right;
}

.Modal .content {
  font-size: 1.5rem;
}

.Modal .button {
  font-size: 1rem;
  margin: 1rem 1rem 1rem 0;
  background-color: #ddd;
}
