.PostItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
}

.PostItem .top {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #ccc;
}

.PostItem .top .img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.PostItem .button-wrap {
  text-align: right;
}
